body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:632px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:46px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:1615px;
  width:94px;
  height:45px;
}
#u46_img.selected {
}
#u46.selected {
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:90px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:46px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1615px;
  width:94px;
  height:45px;
}
#u47_img.selected {
}
#u47.selected {
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:90px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:46px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:1615px;
  width:94px;
  height:45px;
}
#u48_img.selected {
}
#u48.selected {
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:90px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:46px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:1615px;
  width:94px;
  height:45px;
}
#u49_img.selected {
}
#u49.selected {
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:90px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:205px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:1660px;
  width:376px;
  height:204px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:94px;
  width:372px;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:205px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:1660px;
  width:376px;
  height:204px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:94px;
  width:372px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:205px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:1660px;
  width:376px;
  height:204px;
}
#u52_img.selected {
}
#u52.selected {
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:94px;
  width:372px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:205px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:1660px;
  width:376px;
  height:204px;
}
#u53_img.selected {
}
#u53.selected {
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:94px;
  width:372px;
  word-wrap:break-word;
}
